[Unit]
Description=Aria2 Daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/aria2c --conf-path=%h/.config/aria2/aria2.conf
Restart=on-failure
RestartSec=5
Nice=10

ProtectHome=yes
ProtectSystem=full
NoNewPrivileges=true

[Install]
WantedBy=default.target
